.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
lombok.config
.gitattributes

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/.idea/

# Mac
.DS_Store
bin

## Generated build files
src/main/generated/*
target/*
